.about-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
}
.about-page img{
    width: 100%;
    margin-bottom: 20px;
}
.about-page .abt-text{
    padding: 20px;
    text-align: center;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.abt-text h2, .abt-text b{
    text-align: left;
    font-style: italic;
    width: 100%;
    text-decoration: underline;
}
.about-page .abt-text ul{ 
    width: 90%;
    text-align: left;
    
}