.dashboard-wrap{
    min-height: 70vh;
    color: var(--text);
}
.dash-header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 2px solid var(--text);
}
.dash-header span{
        padding: 4px;
        padding-bottom: 10px;
        cursor: pointer;
}
.dash-header span.active{
    background: var(--greenYt);
    color: var(--oppText);
    border-radius: 7px 7px 0 0;
}
#notifications{
    position: relative;
    display: block;

}
.notiDot{
    color: #fff;
    font-size: 10px;
    background: red;
    padding: 2px;
    height: 17px;
    width: 17px;
    border-radius: 50px;
    text-align: center;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -2px;
    right: -12px;
}
.approve-flex{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 5px;
    margin-left: 10px;
}
.approve-users{
    cursor: pointer;
}
.approve-users.active{
    background: var(--greenYt);
    color: var(--oppText);
    border-radius: 5px;
    padding: 2px;
}
.approve-body{
    margin: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--text);
    padding: 10px 5px;
    border-radius: 6px;
    gap: 15px;
}

.approve-user{
    min-height: 40px;
    box-shadow: 2px 2px 3px var(--oppText);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
}
.approve-user .flex{
    gap: 10px;
}
.approve-user .flex .fa{
    cursor: pointer;
}
.approve-user .see-more{
    background: var(--greenYt);
    color: var(--oppText);
    padding: 5px;
    border-radius: 5px;
}
.approve-user.unread{
    border: 1px solid var(--firstGreen);
}
.approve-user span.span{
    width: 70%;
}
#role-select{
    background: #efefef;
    color: #555;
    padding: 2px;
    border-radius: 5px;
    outline: none;
}
#approve-modal{
    padding: 10px;
    height: 100%;
    margin: 10px;
    width: 100%;
    display: block;

}
.approve-inner{
    display: flex;
    /* height: 100%; */
    width: 100%;
    overflow-y: scroll;
    display: flex;
    padding: 10px;
    justify-content: center;
}
::-webkit-scrollbar {
    display: none; 
  }
.approveImg{
    width: 80%;
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
}
#approve-detail span{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--text);
    padding: 3px;
}
.approveImgList img{
    width: 200px;
    border-radius: 10px;
}