.head-section{
    position: relative;
}
.don-btn{
    background: var(--oppBg);
    color: var(--oppText);
    height: 25px;
    padding: 0 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
}
.head-img{
    width: 100%;
}
.head-details{
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5px;
    text-transform: capitalize;
    gap: 3px;
}
.head-details .small-text{
    font-family: cursive;
}
.head-details h4{
    color: var(--firstGreen);
}
.head-details button{
    background: var(--firstGreen);
    color: var(--riskText);
    height: 35px;
    width: 100px;
    border-radius: 10px;
    margin-top: 10px;
}
.head-don{
    position: absolute;
    top: 60px;
    width: 250px;
    font-size: 14px;
    left: 10px;
}
.head-details button:hover{
    background: var(--riskText);
    color: var(--firstGreen);
}

.top-five-see-more{
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.top-five-see-more button{
    box-shadow: 3px 5px 5px grey;
    padding: 10px;
    border-radius: 10px; 
    color: var(--text);
}
.funding-hint{
    margin-top: -120px;
    position: relative;
}
.wrap-fund-hints{
    box-shadow: 2px 2px 3px var(--oppText);
    margin: 10px;
    border-radius: 15px;
    background: rgb(6, 64, 43, 0.7);
    color: var(--riskText);
    overflow: hidden;
}
.wrap-fund-hints .head{
    backdrop-filter: blur(1px);
    padding: 15px;

}
.wrap-fund-hints span{
    background: var(--firstGreen);
    padding: 15px;
    display: block;
    width: 100%;
    margin-top: -30px;
}

/* Swipers stuff */

.wrap-all-swiper{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    background: var(--bgPlus);
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
    border: 2px solid var(--firstGreen);
    padding: 7px;
    gap: 10px;
}
.fundwithpi{
    width: 100%;
    margin-top: 10px;
}
#applause{
    color: var(--riskText);
    background: var(--firstGreen);
    padding: 50px;
}

