.objList{
    padding: 10px;
    width: 100%;
    /* overflow: scroll; */
}
.obj-stuck-list{
    margin-top: 30px;
}
.objList .single-stuck-donor-obj{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    width: 100%;

}
.single-stuck-donor-obj .fa-solid{
    background: #d3d3d3;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    padding: 8px;
}
.single-stuck-detail{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.report-fundsraiser {
    display: flex;
    gap: 10px;
    color: var(--oppBg);

}
