#reportHtmlSpace{
    display: flex;
    justify-content: center;
}

.report-wrap{
    width: 90%;
    color: var(--text);

}
  
  .header h1 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .header p {
    font-size: 1rem;
    color: var(--dimText);
  }
  
  .report-form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
  }
  
  .form-group input,
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    color: var(--oppText);
  }
  
  .form-group input:focus,
  .form-group select:focus,
  .form-group textarea:focus {
    border-color: var(--firstGreen);
    outline: none;
  }
  
