.report-over-wrap{
    margin-top: 35px;
}
.report-opts{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.option {
    padding: 5px;
    margin: 2px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    user-select: none;
    width: 80%;
}

.option.selected {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
}
#report-textarea, #report-email{
    margin: 0 10px;
    resize: none;
    width: 70%;
    border: 2px solid var(--firstGreen);
    outline: none;
    background: var(--bgPlus);
    padding: 4px;
    border-radius: 7px;
}
#report-textarea{
    height: 100px;
}
.wrap-return-btn{
    margin: 8px;
}