.single-row{
    display: flex;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
}
.single-row:hover{
    background: var(--bgPlus);
}
.single-row-img{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.ctrl-progress-bar-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ctrl-progress-bar{
    max-width: 50px;
    height: 55px;
}
.ctrl-progress-bar-wrap small{
    font-size: 11px;
    color: var(--text);
}
.single-row hr{
    background: var(--bgCream);
}
 .single-row-desc {
    color: var(--text);
}