* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	font-size: calc(16px + (20 - 16) * (100vw - 320px) / (1280 - 320));
}

/* General */

button, input{
    outline: none;
    border: none;
    background: inherit;
    cursor: pointer;
    color: inherit;
}
input{
    cursor: text;
}
.red{
    color: red;
}
textarea{
    color: inherit;
}
.default-btn{
    height: 40px;
    padding: 0 20px;
    background: var(--firstGreen);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--riskText);
    border-radius: 10px;
    cursor: pointer;
}
.default-btn:disabled{
    opacity: 0.4;
}
a{
    color: inherit;
    text-decoration: none;
}

.flex{
    display: flex;
    gap:5px;
    align-items: center;
}
.flex-center{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2px;
    /* text-transform: capitalize; */
}
.flex-col.start{
    align-items: start;

}
.text-center{
    text-align: center;
}
.full{
    width: 100%;
}
.errorLand{
    text-align: center;
}
.errorLand a{
    color: #123456;
}
 .edit-btn {
    background-color: #2196F3;
    color: white;
    padding: 7px;
    border-radius: 5px;
  }

 .edit-btn:hover {
    background-color: #1976D2;
  }

 .delete-btn {
    background-color: rgb(200, 47, 20, 0.5);
    color: #fff;
    padding: 7px;
    border-radius: 5px;
  }

 .delete-btn:hover {
    background-color: rgb(200, 47, 20, 0.8);

  }
  .caps{
    text-transform: capitalize;
  }
.flex-right{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: end;
}
/* General*/
body {
	background-color: hsl(223, 90%, 95%);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--bg: hsl(223, 90%, 95%);
	--bgPlus: #f9fafb;
    --bgWhiteAsh: #c0c0c0;
	--bgCream: #FFFDD0;
	--text: #000;
	--firstGreen: #06402b;
	--lightGreen: rgb(6, 64, 43, 0.4);
	--greenOpa: rgb(6, 64, 43, 0.2);
    --blackOpa: rgb(0, 0, 0, 0.4);
	--riskText: #fff;
    --darkText: #000;
	--oppBg: #121212;
	--dim: #555;
	--dimText: dimgrey;
	--greenYt: #06402b;
	--oppText: #fff;
	--overSwiper: 9999;
    max-width: 500px;
    --blue: #123456;
    transition: 0.5s ease;
}

body.dark{
    background-color: #2a2a2a;
    --bg: #2a2a2a;
    --bgPlus: #121212;
    --text: #fff;
    --oppBg: #fff;
    --dimText: #fff;
    --greenYt: #fff;
    --oppText: #000;
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
h1, h2, h3, h4, h5, h6{
    color: inherit;
    
}



.donor-space{
    margin-top: 10px;
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-stuck-donor{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.single-stuck-donor i{
    background: #d3d3d3;
    border-radius: 50px;
    padding: 8px;
}
.single-stuck-detail{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.flex-center.deactivated{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}